@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

:root {
    --default-font: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--default-font);
}

body {
    background: #E5E5E5;
}

.container {
    max-width: 375px;
    margin: 50px auto;
    background: #F4F4F4;
}

header {
    background: #1B83E2;
    height: 66px;
}

header h1 {
    color: #F4F4F4;
    font-size: 24px;
    font-weight: 400;
    line-height: 18px;
    padding: 24px 50px;
}

main {
    padding: 24px;
}

label {
    color: #777777;
    font-size: 14px;
    line-height: 18px;
}

select {
    width: 100%;
    height: 48px;
    padding: 16px;
    margin: 6px 0 24px 0;
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    appearance: none;
}

input {
    width: 100%;
    height: 48px;
    padding: 16px;
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    outline: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-size: 15px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button {
    width: 100%;
    height: 48px;
    margin-top: 24px;
    margin-bottom: 36px;
    background: #1B83E2;
    border-radius: 25px;
    border: none;
    color: #F4F4F4;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer ;
}

button:hover {
    opacity: 0.9;
}

button:active {
    opacity: 0.7;
}

section {
    border: 1px solid #1B83E2;
    border-radius: 4px;
}

.currency-container {
    text-align: center;
    padding: 12px;
}

.currency-name {
    font-size: 14px;
    color: #777777;
}

.currency-value {
    font-weight: 700;
    font-size: 25px;
    color: #1B83E2;
    margin-top: 5px;
}

.arrow-image {
    margin: 15px auto;
    display: block;
}